*{
    margin: 0;

}
header{
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    height: 70px;
    line-height: 70px;
}
footer{
    text-align: center;
    background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);
    height: 40px;
    line-height: 40px;
    color:rgb(1, 185, 93)
}
h1 {
    text-align: center;
    position: relative;
    right: 30px;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #21D4FD;
    background-size: 100% 100%;
    background-color: #D9AFD9;
    background-color: #D9AFD9;
    background-color: #8EC5FC;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-size: cover;
}
.up{
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 20px;
}
.right_box {
    width: 700px;
    float: right;
}

.left_box {
    width: 700px;
    float: left;
}

.right_box p {
    line-height: 83px;
}


.left_box ul li{
    height: 39px;
}

@keyframes quake {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.3);

    }
}

.up {
    overflow: hidden;
}

.next {
    width: 1300px;
    margin: 0 auto;
    line-height: 50px;
}

.allpics{
    position: relative;
}

#TOM_PIC,#TON_PIC2,#TOM_PIC3{
    position: absolute;
    left: 0;
    top: 0;
    transition: opacity ease 3s;
}
#TON_PIC2,#TOM_PIC3{
    opacity: 0;
}
button,input{
    background-color: rgb(84, 30, 172);
    display: inline-block;
    color: skyblue;
}
.pic_change{
    margin-top: 10px;
    margin-bottom: 10px;
}
input{
    margin-top: 10px;
}
